* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    width: 450px;
    height: 650px;
    padding: 60px 40px 30px 40px ;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    text-align: center;

}
.form-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 70px;
}

.form-input {
    width: 100%;
    border: none;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    font-size: 15px;
}

.form-btn {
    width: 100%;
    border-radius: 30px;
    border: 2px solid rgb(224, 32, 215);
    text-align: center;
    padding: 18px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-btn a {
color: #000;
font-size: 20px;
font-weight: 600;
}

.forgot-p {
 margin-top: 45%;
 color: rgb(224, 32, 215);
}